.wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(10px, auto);
}
.one {
    grid-column: 1;
    grid-row: 1;
}
.two {
    grid-column: 1;
    grid-row: 2;
}
.four {
    grid-column: 2;
    grid-row: 1;
}
.five {
    grid-column: 1;
    grid-row: 3;
}
.six {
    grid-column: 2;
    grid-row: 2;
}
.seven {
    grid-column: 2;
    grid-row: 5;
}
.eight {
    grid-column: 1;
    grid-row: 8;
}
